body{
    background-color: antiquewhite;
}

.light-dark{
    background: #333;
    color: white;
    
}



.hidden-content{
    display:none;
}

.hidden-content.reveal-btn{
    display:block;
}

#form{
    width: 50%;
}